{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>AP COVID</title>
  <link rel="stylesheet" type="text/css" href="./static/css/style.css">
      <link rel="icon" type="image/png" href="{% static "images/icons/favicon.ico" %}"/>
</head>
<body>
  <nav class="zone green">
  	<ul class="main-nav" >
  		<li><a href="">Home</a></li>
  		<li><a href="./form.html">Statistics</a></li>
  		<li class="push"><a href="">Last Updated: {{dt}}</a></li>
  	</ul>
  </nav>
  <marquee onmouseout="this.start();" onmouseover="this.stop();">
<span id="Label5"><b><font color="Green">Stay Home. Stay Safe.</font></b></span>
</marquee>
    <div class="zone black grid-wrapper">
  	<div class="box zone blue">Todays Cases<br/>{{Ttotal}}</div>
      <div class="box zone purple">Confirmed Cases<br/>{{Total}}</div>
      <div class="box zone green">Cured<br/>{{Recovered}}</div>
      <div class="box zone red">Deceased<br/>{{Deceased}}</div>
  </div>
  <div class="zone black expand"><img src="{% static "images\precautions.png" %}" alt=" " width=100% height=auto /></div>
      <div class="containter zone black">
                <table class="secondtable" >
                    <caption>Districtwise Report</caption>
                <tr align="center" style="font-weight:bold; background-color:#99CCFF">
                <td>Name of the District</td>
                <td>New Cases</td>
                <td>Confirmed Cases</td>
                <td>Cured/ Discharged</td>
                <td >Deceased</td>
                </tr>
                    {% for dist in dists %}
                                <tr>
                                    <td align="left">{{dist.name}}</td>
                                    <td align="center">{{dist.lcount}}</td>
                                    <td align="center">{{dist.count}}</td>
                                    <td align="center">{{dist.recovered}}</td>
                                    <td align="center">{{dist.deceased}}</td>
                                </tr>
                        {% endfor %}
                <tr style="font-weight:bold">
                <td>Total</td>
                <td align="center">
                <span id="lblTotalConfirmed">{{Ttotal}}</span>
                </td>
                <td align="center">
                <span id="lblTotalConfirmed">{{Total}}</span>
                </td>
                <td align="center">
                <span id="lblTotal_Discharged">{{Recovered}}</span>
                </td>
                <td align="center">
                <span id="lblTotal_Deaths">{{Deceased}}</span>
                </td>
                </tr>
                </table>

            <img src="data:image/png;base64,{{image1}}" alt="some text to display to your users when the image does not show correctly" width=100% height=auto />
    </div>
  <div class="zone black expand"><img src="data:image/png;base64,{{image2}}" alt=" " width=100% height=auto /></div>
  <div class="zone black expand"><img src="{% static "images\stay_home.jpg" %}" alt=" " width=100% height=auto /></div>
  <footer class="zone blue">Made by Prathyusha</footer>
</body>
</html>